.titulo-bienvenida {
    font-family: var(--font-family-82);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-negro-1);
    font-size: var(--font-size-11);
}

.texto-bienvenida {
    font-family: var(--font-family-84);
    letter-spacing: 1px;
    color: var(--color-negro-1);
    line-height: 1.6;
}

.titulo-seccion {
    color: var(--color-rojo-2);
}
