#login h3{
    font-family: var(--font-family-81);
}
.small-link {
    font-family: var(--font-family-74);
    
  }
#texto-login-abajo{
    font-family: var(--font-family-74);
    font-size: var(--font-size-1);
    
}