{% extends 'app/base.html' %}
{% load static %}
{% block title %}Acerca de nosotros | Astral Shop{% endblock title %}

{% block main-content %}
    <div class="contenedor mt-5">
        <div class="fila">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="titulo-bienvenida">
                    Bienvenido a Astral Shop
                </h2>
                <p class="texto-bienvenida fs-4">
                    Descubre nuestra historia y compromiso de ofrecerte productos de calidad.
                </p>
            </div>
        </div>

        <section class="my-5">
            <div class="fila">
                <div class="col-md-8 offset-md-2">
                    <h3 class="titulo-seccion">Nuestra Historia</h3>
                    <p class="fs-5">
                        En el año 2023, Astral Shop nació con la visión de revolucionar la forma en que las personas compran productos en línea. Desde entonces, nos hemos dedicado a proporcionar a nuestros clientes una experiencia de compra única y conveniente.
                    </p>
                </div>
            </div>
        </section>

        <section class="my-5">
            <div class="fila">
                <div class="col-md-8 offset-md-2">
                    <h3 class="titulo-seccion">Misión y Visión</h3>
                    <p class="fs-5">
                        Nuestra misión es ofrecer productos de alta calidad a precios competitivos, brindando a nuestros clientes una experiencia de compra inigualable. Queremos ser reconocidos como el socio digital de confianza para todas sus necesidades.
                        Además de esto paso a paso poner en marcha una estrategia de traer al sitio los productos mas TREND en el mercado y ofrecerlos a nuestros clientes a los mejores precios
                        y con la mayor facilidad, seguridad y comodidad para realizar sus pagos y recibir sus envíos.
                    </p>
                    <p class="fs-5">
                        La visión de Astral Shop es crear un espacio en línea donde la diversidad de productos se encuentre con la comodidad de comprar desde la comodidad de su hogar.
                        Además de esto tratar de integrar todos los medios de pago posibles, incluyendo pagos con criptoactivos como Bitcoin(BTC) Tron(TRX) o monero(XMR), siempre garantizando
                        la seguridad y la privacidad en las transacciones, además de tratar de integrar inteligencia artificial al sitio para diferentes funciones como consultas acerca de 
                        temas de moda, marketing, dropshipping, información acerca de disponibilidad de productos, servicio al cliente para los usuarios entre otros.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock main-content %}
{%block banner_slider_dos%}
<br>
<div id="carrusel-inicio" class="carrusel-inicio-2">
    <div class="diapositivas-2">
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo1.jpg'%}" alt="banner1">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo2.jpg'%}" alt="banner2">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo3.jpg'%}" alt="banner3">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo4.jpg'%}" alt="banner4">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo5.jpg'%}" alt="banner4">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo6.jpg'%}" alt="banner4">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo7.jpg'%}" alt="banner4">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo8.jpg'%}" alt="banner4">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo9.jpg'%}" alt="banner4">
        </div>
        <div class="diapositiva-2">
            <img src="{% static 'assets/images/banner/fondo10.jpg'%}" alt="banner4">
        </div>
    </div>
</div>
<br>
{%endblock banner_slider_dos%}