{% extends 'app/base.html' %}
{% load static %}
{% block title %}Categorías | Astral Shop{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    {% for val in titulo_producto %}
                        <a href="{% url 'category-title' val.titulo_producto %}" class="btn btn-custom-primary-2" aria-current="true">{{val.titulo_producto}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    {% for prod in product %}
                    <div class="col text-center mb-4">
                        <a href="{% url 'product-detail' prod.id %}" class="btn">
                            <div>
                                <img src="{{prod.imagen_producto.url}}" class="img-fluid" width="330px" height="230px">
                                <div class="fw-bold">{{prod.titulo_producto}}</div>
                                <div class="fw-bold text-danger">
                                    Rs.{{prod.precio_con_descuento}}/-
                                    <small class="fw-light text-decoration-line-through">
                                        {{prod.precio_venta}}
                                    </small>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock main-content %}