{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout | Astral Shop{% endblock title %}

{% block main-content %}

<div class="container">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-6">
            <h4>Información de pago</h4>
            <hr>
            {% for item in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Producto: {{ item.product.titulo_producto }}</h5>
                    <p>Cantidad: {{ item.cantidad }}</p>
                    <p class="fw-bold">Precio: {{ item.product.precio_con_descuento }}</p>
                </div>
            </div>
            {% endfor%}
           
            <p class="fw-bold">Suma total:+ $2 (envío) = {{totalamount}}</p>
            <small>**Términos y Condiciones de Compra**<br>

                1. **Pago y Precios:**
                   - Todos los precios están en la moneda local y se mostrarán durante el proceso de pago.
                   - Los pagos son procesados de manera segura a través de nuestro proveedor de pagos.<br>
                
                2. **Envío:**
                   - El tiempo estimado de envío se proporcionará durante el proceso de compra.
                   - Los costos de envío variarán según la ubicación y la opción de envío seleccionada.<br>
                
                3. **Devoluciones y Reembolsos:**
                   - Aceptamos devoluciones dentro de los 30 días posteriores a la recepción del producto.
                   - Los productos deben devolverse en su estado original para ser elegibles para un reembolso.<br>
                
                4. **Privacidad y Seguridad:**
                   - La información del cliente se manejará de manera confidencial y segura.
                   - No compartiremos su información con terceros sin su consentimiento.<br>
                
                5. **Garantía del Producto:**
                   - Ofrecemos garantía en nuestros productos según las condiciones especificadas en cada artículo.<br>
                
                6. **Cancelaciones:**
                   - Las cancelaciones pueden realizarse antes de que se envíe el producto.
                   - Se aplicará una tarifa de cancelación después de que se haya enviado el producto.<br>
                
                7. **Responsabilidad del Usuario:**
                   - El usuario es responsable de proporcionar información precisa durante el proceso de compra.
                   - Cualquier actividad fraudulenta resultará en acciones legales.<br>
                
                8. **Cambios en los Términos:**
                   - Nos reservamos el derecho de realizar cambios en estos términos en cualquier momento.
                   - Los cambios entrarán en vigencia inmediatamente después de su publicación.<br>
                
                Al realizar una compra, el cliente acepta estos términos y condiciones. Para obtener más detalles, contáctenos en [0xsnake55@gmail.com] o llámenos al [3017753925].<br>
                </small>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <h4>Selecciona dirección de envío</h4>
            <hr>
            <form method="post" id="myform">
                {% csrf_token %}
                {% for ad in add %}
                <div class="card">
                    <div class="card-body">
                        <h5>{{ad.nombre}}</h5>
                        <p>Celular : {{ad.telefono}}</p>
                        <p>{{ad.direccion}} {{ad.ciudad}} {{ad.departamento}} {{ad.identificacion}}</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input type="radio" class="form-check-input" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                    <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                        Dirección:{{forloop.counter}} </label>
                </div>
                {% endfor %}
                <div class="form-check mb-3">
                    <label for="totamount" class="form-label">Neto a pagar:</label>
                    <input type="number" class="form-control" name="totamount" value={{totalamount}} readonly>
                </div>
                <div id="rzp-button1-container" class="text-center">
                    <button id="rzp-button1" type="submit" class="btn px-5">
                        <img src="{% static 'assets/images/icons/razorpay.svg' %}" alt="Razorpay Icon" class="razorpay-icon">
                    </button>
                </div>
            </form>
            <div id="paypal-container">
                <img src="{% static 'assets/images/icons/paypal.svg' %}" alt="PayPal">
                {{ paypal_form.render }}
            </div>         
        </div>
    </div>
</div>

{% endblock main-content %}

{% block payment-gateway %}
<script>
var options = {
    "key": "rzp_test_V3NdXPh72wKeN8",
    "amount": "{{razoramount}}", 
    "currency": "INR",
    "name": "Tienda",
    "descripcion": "Comprar productos",
    "order_id": "{{order_id}}", 
    "handler": function (response){
        console.log("Exitoso por aquí en el pago de razor pay");
        var form = document.getElementById("myform");
        window.location.href = `http://localhost:8000/paymentdone?order_id=${response.razorpay_order_id}&payment_id=${response.razorpay_payment_id}&cust_id=${form.elements["custid"].value}`
    },
    
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.descripcion);
});
document.getElementById('rzp-button1').onclick = function(e){
    console.log("Botón clikeado");
    rzp1.open();
    e.preventDefault();
}
</script>

{% endblock payment-gateway %}