{% extends 'app/base.html' %}
{% load static %}

{% block title %}Detalle de producto | Astral Shop{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 mt-5">
            <img src="{{product.imagen_producto.url}}" class="img-fluid" alt="{{product.titulo_producto}}">
        </div>
        <div class="col-lg-7 mt-5">
            <div class="product-details-2">
                <h2 class="descripcion-producto">{{product.titulo_producto}}</h2>
                <h5 class="precio-sin-descuento">$. {{product.precio_con_descuento}}/-</h5>
                <small class="text-decoration-line-through text-muted fs-5">
                    <del id="precio-con-descuento">$. {{product.precio_venta}}/-
                </small></del>
                <br><br>
                <h4 class="caracteristicas-producto">Características del producto</h4>
                <ul class="fs-5" style="font-family: Rajdhani; list-style: none; padding-left: 0;">
                    <li>{{product.descripcion}}</li>
                    <li>Referencia: {{product.referencia}}</li>
                    <li>País de origen: {{product.pais_origen}}</li>
                </ul>
            </div>
            <div class="product-actions mt-4">
                <div class="d-flex flex-wrap">
                    <form action="/add-to-cart" class="mb-2 mr-2">
                        <input type="hidden" name="prod_id" value="{{product.id}}">
                        <button type="submit" class="btn btn-primary shadow px-3 py-2">Añadir al carrito</button>
                        {% if wishlist %}
                        <a pid="{{product.id}}" class="minus-wishlist btn btn-danger shadow px-3 py-1"><i class="fas fa-heart fa-lg"></i></a>
                        {% else %}
                        <a pid="{{product.id}}" class="plus-wishlist btn btn-success shadow px-3 py-1"><i class="fas fa-heart fa-lg"></i></a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
